{% extends 'base.html.twig' %}
{% block title %}ajouter ma musique{% endblock %}
{% block contenthead %}
    <h1 class="display-4">Ajouter une musique</h1>
{% endblock %}
{% block content %}

    <div class="col-md-12">
    <div class="content ">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file) }}
                </div>
            </div>

        </div>
            <div class="text-center">
                {{ form_widget(form.Enregistrer) }}
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form) }}

{% endblock %}