{% extends 'base.html.twig' %}
{% block title %}mes musiques{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('musics') }}
 {% endblock %}
{% block contenthead %}
    <h1 class="display-4">Mes musiques</h1>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="content" >
                        <table class="table table-striped" style="width=50%" id="musiques">
                            <thead>
                            <tr>
                                <th>Musique</th><th>Détail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cp in musics %}
                                <tr>
                                    <td>{{cp.title}}</td><td><a href="{{ path('app_music_detail', { 'id': cp.id }) }}"><i class="ti-search"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="message" class="{{ message }}"></div>
{% endblock %}
