{% extends 'base.html.twig' %}
{% block title %}{{ music.title }}{% endblock %}


{% block contenthead %}
    <h1 class="display-4">{{ music.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="music-content" class="container">
                <div class="card">
                    <div class="content">
                        <div id="loadedMusic" class="hidden"></div>
                        <br/>
                        <div id="button"  align="center">
                            <input type="button" class="btn btn-success" value="lancer la musique" id="lance">
                        </div>
                        <br/>
                    <div id="audioDisplay" class="hidden">
                        <input type="hidden" title="{{ music.file }}" value="{{ asset('musics/'~ music.file) }}" id="musicFile" />

                        {% for com in commentaires %}
                            <i id="note-{{ com.id }}" class="musicNote ti-music-alt px-2"></i>
                        {% endfor %}
                        {% for com in commentaires %}
                            <div class="hidden" title="{{ com.timeMusic}}" id="comm-{{ com.id }}">
                            {{ com.users.email|e }} :<br/>
                                <p>{{ com.comment|nl2br }}</p>
                            </div>
                        {% endfor %}

                        <canvas id="canvas"></canvas>
                        <audio id="audio" style="width: 100%;" class="audioPlayer" controls></audio>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="contentformComment ">
            {{ form_start(form, {'attr': {'id': 'commentForm'}}) }}
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        {{ form_label(form.comment) }}
                        {{ form_widget(form.comment) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        {{ form_widget(form.timeMusic) }}
                    </div>
                    <div class="custom_select_w">
                        {{ form_widget(form.music) }}
                        {{ form_widget(form.users) }}
                    </div>
                </div>

            </div>
            <div class="text-center">
                {{ form_widget(form.Enregistrer) }}
            </div>
        </div>
        <div id="message" class="{{ message }}"></div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form) }}

    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('music') }}
 {% endblock %}